/stt
/vector-cloud/build/vic-cloud
/chipper/source.sh
/vector-cloud/build
/chipper/chipper
/certs
/vector-cloud/packagesGotten
/vector-cloud/cloud/cert.go
/ssh_root_key
/.vscode
/chipper/.vscode
/chipper/useepod
/chipper/pico.key
/chipper/chipperConfig.json
/chipper/old-source.sh
/chipper/ssh_root_key
/chipper/customIntents.json
/chipper/botConfig.json
/chipper/jdocs/*.json
/vosk
/chipper/nvm/*
